%h2 時間割

%table{:border=>'1'}
  %tr
    -@subjects.each do |subject|
      %th= subject.name
  %tr
    -@subjects.each do |subject|
      %td= '%s/%s' % [subject.attendances.count,subject.attendance]
%br

%table{:border=>'1'}
  %tr
    %th
    - (1..6).each do |i|
      %th{:style=>'width:50px;'}= i

  - @calendars.each_with_index do |calendar,i|
    %tr{:style=>'height:50px;'}
      %td= calendar.school_day
      - (1..6).each do |i|
        %td{'data-school_day'=>calendar.school_day,'data-period'=>i}
          - attendance = calendar.attendances.select {|a| a.period == i }.first
          - if attendance
            %div{:class=>'draggable #{attendance.subject.name}',
                 :style=>'border:1px solid black;'}= attendance.subject.name
%br

:javascript
  $('.draggable').draggable();

= link_to 'New Attendance', new_attendance_path
