%h2 時間割

%table{:border=>'1'}
  %tr
    -@subjects.each do |subject|
      %th= subject.name
  %tr
    -@subjects.each do |subject|
      %td= '%s/%s' % [subject.attendances.count,subject.attendance]
%br

%table{:border=>'1'}
  %tr
    %th
    - (1..6).each do |i|
      %th{:style=>'width:50px;'}= i

  - @calendars.each_with_index do |calendar,i|
    %tr{:style=>'height:50px;'}
      %td= calendar.school_day
      - (1..6).each do |i|
        %td.droppable{'data-school_day'=>calendar.school_day,'data-period'=>i}
          - attendance = calendar.attendances.select {|a| a.period == i }.first
          - if attendance
            %div.draggable{:style=>'border:1px solid black;'}= attendance.subject.name
%br

:javascript
  function Chip(){
    this.school_day;
    this.period;
    this.set = function(lesson){
      this.school_day = lesson.data('school_day');
      this.period = lesson.data('period');
    };
    this.dragstart = function(lesson){
      this.set(lesson);
    };
  }
  var chip = new Chip();
  $('.draggable').draggable({
    helper:'clone',
    start:function(ev,ui){chip.dragstart($(this).parent());}
  });
  $('.droppable').droppable({
    tolerance:'pointer',
    drop:function(ev,ui){ui.draggable.appendTo(this);}
  });

= link_to 'New Attendance', new_attendance_path
