%p#notice= notice

%p
  %b Calendar:
  = @attendance.calendar.school_day
%p
  %b Period:
  = @attendance.period
%p
  %b Subject:
  = @attendance.subject.name

= link_to 'Edit', edit_attendance_path(@attendance)
\|
= link_to 'Back', attendances_path
