%p#notice= notice

%p
  %b Calendar:
  = @attendance.calendar
%p
  %b Period:
  = @attendance.period
%p
  %b Subject:
  = @attendance.subject

= link_to 'Edit', edit_attendance_path(@attendance)
\|
= link_to 'Back', attendances_path
