!!!
%html
  %head
    %title Gettan
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %h1 Gettan
    = yield
    %div
      = link_to("Top", root_path)
